BasedOnStyle: WebKit
Language: Cpp
Standard: Latest
IndentWidth: 4
AccessModifierOffset: -2
ColumnLimit: 120
BinPackParameters: false
BinPackArguments: false
AlwaysBreakTemplateDeclarations: true
PenaltyReturnTypeOnItsOwnLine: 10000
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
PointerAlignment: Left
FixNamespaceComments: true
AllowAllArgumentsOnNextLine: false
